<div class="container">
    <h1 class="mb-3">Create Course</h1>
    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="nameInput" class="form-label">Name</label>
            <input name="name" type="text" class="form-control" id="nameInput" >
        </div>
        <div class="mb-3">
            <label for="descInput" class="form-label">Description</label>
            <input name="description" type="text" class="form-control" id="descInput">
        </div>
        <div class="mb-3">
            <label for="imageInput" class="form-label">image</label>
            <input name="image" type="text" class="form-control" id="imageInput">
        </div>
        <div class="mb-3">
            <label for="videoInput" class="form-label">video Id</label>
            <input name="videoId" type="text" class="form-control" id="videoInput">
        </div>
        <button type="submit" class="btn btn-primary">Tao moi khoa hoc</button>
    </form>
</div>